<div class="main-content">
    <div class="section-content section-content-p30">

        <h4>{{ currentCategoryName }}</h4>
        <hr>

        <div class="container-fluid">
            <div class="row">
                <!-- loop over the collection of products -->
                <div *ngFor="let tempProduct of products" class="col-md-4">

                    <div class="product-box">
                        
                        <a routerLink="/products/{{ tempProduct.id }}">
                            <img src="{{ tempProduct.imageUrl }}" alt="product image" class="img-responsive">
                        </a>
                        
                        <br>
                        
                        <a routerLink="/products/{{ tempProduct.id }}" >
                            <h1>{{ tempProduct.name }}</h1>
                        </a>
                        
                        <div class="price">
                            {{ tempProduct.unitPrice | currency:'USD' }}
                        </div>

                        <button (click)="addToCart(tempProduct)" class="btn btn-primary btn-small">Add to cart</button>

                    </div>

                </div>

                <!-- if products EMPTY then display a message -->
                <!-- role >>> Accessibility: provide extra information to assistive technologies such as screen readers -->
                <!-- ? >>> Angular Safe Navigation Operator -->
                <div *ngIf="products?.length == 0" class="alert alert-warning col-md-12" role="alert">
                    <strong>No products found</strong>
                </div>


            </div>

            <!-- begin footer -->

            <div class="footer-pagination">
                <div class="row">
                    <div class="col-md-6">

                    </div>
                    <div class="col-md-6">
                        
                        <div class="row">
                            <div class="col-md-9" style="padding-left: 20%;">
                            
                                <!-- LEFT HAND SIDE: ngb-pagination components -->
                                <!-- RIGHT HAND SIDE: properties of product-list component -->
                                <ngb-pagination [(page)]="thePageNumber"
                                                [pageSize]="thePageSize"
                                                [collectionSize]="theTotalElements"
                                                [maxSize]="5"
                                                [boundaryLinks]="true"
                                                (pageChange)="listProducts()">

                                </ngb-pagination>

                            </div>

                            
                        </div>
                        <div class="row">
                            <div class="col-md-3" style="text-align: right; padding-left: 90%;">

                                <span style="font-size: x-small;">Page Size</span>

                                <select (change)="updatePageSize($any($event.target).value)">
                                    <option selected="true">5</option>
                                    <option>10</option>
                                    <option>20</option>
                                    <option>50</option>
                                </select>

                            </div> 
                        </div>

                    </div>
                </div>
            </div>
            <!-- end footer -->

        </div>
    </div>
</div>